-- Verify [% project %]:[% change %] on [% engine %]

BEGIN;
SET ROLE __owner;

-- This will throw an error if the function doesn't exist
SELECT '[% function %](
)'::regprocedure;

ROLLBACK;

-- vi: expandtab ts=2 sw=2
