-- Verify [% project %]:[% change %] on [% engine %]

BEGIN;
SET ROLE txbits__owner;

-- This will throw an error if the table doesn't exist
SELECT '[% table %]'::regclass;

ROLLBACK;

-- vi: expandtab ts=2 sw=2
