target/
litecoin/
bitcoin/
playframework/
litecoin_testnet/testnet3
bitcoin_testnet/testnet3
.metadata
.project
.classpath
.cache
.settings
.target
bin/
logs/
*.swp
RUNNING_PID
.DS_Store
.ensime
*.*~
project/#Build.scala#
.idea/
.idea_modules/
.history
.workspace

