#trollbox-activate.trollbox-active {
    background: #eee;
    color: #333;
}

#trollbox-activate.trollbox-active:active {
    color: #333;
}

.trollbox-active:hover {
    color: #fff;
}

.trollbox-gray {
    background: #f9f9f9;
    position: relative;
    top: -20px;
}

.trollbox-header-gray {
    background: #eee;
}

#trollbox-wrapper {
    background: #f9f9f9;
    color: #333;
    border: ;
    display: none;
}

#trollbox-header {
    background: #eee;
    color: #333;
    padding: .25em;
    font-size: 1.5em;
    text-transform: uppercase;
}

#trollbox-chat-window {
    width: 100%;
    background: #f9f9f9;
    height: 200px;
    overflow-y: auto;
    padding: 1em;
}

#trollbox-chat-window::scrollbar {
    background: #f9f9f9;
}

#trollbox-input-window {
    width: 100%;
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    padding: 0 5px;
    background: #fff;
}

#trollbox-input {
    width: calc(100% - 2em - 5px);
    height: 42px;
    border: none;
}

.trollbox-message {
    padding: 5px;
}

.trollbox-message-body,
.trollbox-username {
    display: inline-block;
    padding: 3px 5px;
}

.trollbox-username {
    font-weight: bold;
    margin-right: .25em;
    background: #900;
    color: #fff;
    border-radius: 3px;
}

.trollbox-upvote-button {
    border-radius: 1em;
    background: transparent;
    color: #aaa;
    cursor: pointer;
    padding: 0 2px;
}

.trollbox-upvote-count {
    display: inline-block;
    color: #666;
    font-weight: bold;
}

.trollbox-upvote-button.upvoted {
    color: #900;
}

.navbar {
    border: none;
}