@(loggedIn: Boolean)(implicit request: RequestHeader, lang: Lang)
@import securesocial.core.UsernamePasswordProvider
@import helper._
@import securesocial.core.UsernamePasswordProvider
@implicitFieldConstructor = @{ FieldConstructor(auth.inputFieldConstructor.f(_)(lang)) }

@scripts = {
    <script src="@routes.Assets.at("js/content_index.js")"></script>
    <script src="@routes.Assets.at("js/signup.js")"></script>
}

@content._chrome("", scripts, loggedIn = loggedIn) {
    <div class="marketing">
        <div class="jumbotron intro-image">
            <div class="container">
                <h1>TxBits</h1>
                <p class="subtitle">An open-source Bitcoin exchange</p>
            </div>
        </div>

        <div class="content">
        @if(!loggedIn){
            <div id="signup-wrap">
                <div class="text-center">
                    <form id="signup-form" class="form-inline" action="@controllers.routes.Registration.handleStartSignUp().absoluteURL(UsernamePasswordProvider.sslEnabled)" autocomplete="off" method="post">
                        <div class="form-group sign-up-text">Sign up for our beta:</div>
                        <div class="form-group" id="email_field">
                            <label class="sr-only" for="email">@Messages("securesocial.signup.email1")</label>
                            <div class="controls">
                                <input id="email" name="email" value="" class="form-control" type="text" placeholder="@Messages("securesocial.signup.email1")">
                            </div>
                        </div>
                        <div class="form-group" id="email2_field">
                            <label class="sr-only" for="email2">@Messages("securesocial.signup.email2")</label>
                            <div class="controls">
                                <input id="email2" name="email2" value="" class="form-control" type="text" placeholder="@Messages("securesocial.signup.email2")">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default" title="@Messages("securesocial.signup.createAccount")"><i class="glyphicon glyphicon-chevron-right"></i></button>
                    </form>
                </div>
            </div>
        }

            <div id="ticker-wrap">
                <div class="container">
                    <div class="row">
                        <div id="big-tickers">
                        </div>
                    </div>
                </div>
            </div>

        @if(!loggedIn){
            <div id="login-wrap">
                <div class="text-center">
                    <div class="form-inline">
                        <form action = "@routes.ProviderController.loginPost().url" autocomplete="off" method="POST">
                            @views.html.helper.CSRF.formField
                            <div class="form-group sign-up-text">@Messages("securesocial.login.title"):</div>
                            <div class="form-group" id="username_field">
                                <div class="controls">
                                    <input type="text" id="username" name="username" value="" placeholder="@Messages("securesocial.signup.email1")" class="form-control" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="form-group" id="password_field">
                                <div class="controls">
                                    <input type="password" id="password" name="password" placeholder="@Messages("terminology.password")" class="form-control" autocomplete="off"/>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-chevron-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        }

            <div id="beta-wrap">
                <div class="container" id="beta">
                    <div class="row detailed-points">
                        <div class="col-md-12">
                            <p>We are currently in a beta testing period. There is no fiat money or bitcoin on TxBits.
                                Instead, we are using testnet coins. When you create an account you will be given 100 fake USD.
                                You can use that to get started with testing the functionality of TxBits. You can deposit and withdraw
                                testnet coins. We are running a full reserve but in the testing period, testnet coins deposited to this
                                exchange may be lost or stolen. We would like
                                to hear any feedback you have for us. Please tell us what you think at <a href="#" class="hidden-email" data-name="feedback" data-domain="txbits.com">(Turn on javascript to show email address)</a>
                                or using the little UserVoice button in the bottom right corner of every page.
                                Feel free to tell your frends about our beta :)
                        </div>
                    </div>
                </div>
            </div>



            <div id="beta-wrap">
                <div class="container" id="beta">
                    <div class="row detailed-points">
                        <div class="col-md-12">
                            <p>For more information, visit our open source project's webpage at <a href="https://txbits.org">https://txbits.org</a>.</p>
                        </div>
                    </div>
                </div>
            </div>



            <div id="beta-wrap">
                <div class="container" id="beta">
                    <div class="row detailed-points">
                        <div class="col-md-12">
                            <p>Use this PGP key to email us privately:</p>
                            <pre>-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v2

mQENBFRImFcBCADZ/BPVBNbgaBn3xACTbZExBmh6Co50WnHeDYx6/ydcBW35C09g
nVDdGNDP0mwpnHgvO9dlRFn/LS8YyUrF4Wl8tBOroyxdSbmWa9JUW/JOB305Oca1
jXjKwGGA7CH6TGZW3k/Gp9JqMtInwzqyFWKOOTJDOdhJRCmn18NKwBx7qKnOgJhV
fi9WC1+cSEcrw4bdEMTbVpFqY6IwJ8e/VDPj4BHqBrX868d1vjYrsgqBjmVoVkov
ezZBTVj2hX70IPByA3sUhLfD9TBQoJFtw1cyymsXyod9Klk8/X4xszSBTEr0hQJh
rlurUX9hWq6w9TptvvgrFKpTl87DoGrvLCbPABEBAAG0GlR4Qml0cyA8dHhiaXRz
QHR4Yml0cy5jb20+iQE/BBMBAgApBQJUSJhXAhsDBQkB4TOABwsJCAcDAgEGFQgC
CQoLBBYCAwECHgECF4AACgkQ58q7kss1ivb7XQf/Zgr7JXOsyniZDdLQ4ncyx+Y+
oNAC4ylPCRHegj7t+NLBQ36pYk3f7zAYrocOPkVLsL/6MEWI9r25pCAHINlKXbWf
DaFoIaK59Fot0HyXSCqJ//Ji7j4smoJ2U1+rQhvbziTC+n5B1aJBcGGaFuBnL0/V
cjrunQT6J6gIJ9uivthyJ2dB7j5SGfKX5hli8ZrbqaHbNOfmCVlQahH5kTns04iV
jp5erK5LdRIXP8mx2MsN+Ah4TUfYzyw5fkiwjcb95WEmRJScS1ooN0MtDguY0hFT
hJfKI3Qy45swNWuodvOnvlmLtzGbZMa2nhR6uU9sUJpQLnw623Ls4KgZA0pVWbkB
DQRUSJhXAQgAqLDKrlDomBLhFFX/elvsNGVMGK/0sE7KPlmHgJ1m1q4lEb5tdIRc
PbwsFbo6viS+L48wKIL/hPQ50BuuMTO89aOBgUp0F3f9w0jYCLRU+jb0RYpH1JDW
aAwmyt3A8ud1PC+o3RhMfSQPOy9KAPY1As0KPkMc3E8iN+fnrXAc4FSOaQ6pZEQb
DX/n7dp1pupHE787C144OP4fTSXxEqhAIiYnFzPCgxezofxgUhHOHhgpkQdehXlT
XMo46r9JBBlI6m1OeR0aK/HBv3MthH/lgqq2aZOaHw1fm1c5uNyloORITzlzkVeQ
Y141L6W8du3f9xAEgqYiWTQ3wlPMNajv/QARAQABiQElBBgBAgAPBQJUSJhXAhsM
BQkB4TOAAAoJEOfKu5LLNYr28PkH/A6EhxPS1mwI+5AD1MaX1xL9JhBaHSBzS0Jc
7UKHrzBBI1oZiKqE6l7vX9DdAUNen8Ke71SJwJTKNdJqugMLqlgv2gZ6N5jXIMTD
JHFlcTl87GfzfJQoOVRje21AhWDGDybMYa1rEpxCvu42R26yEqmIzzizPPU0jmkI
WXAdlluGpXOTaVA5wTf1dhZ9lwXLcYHhTDMAVMdP5bWgOxkzWsWPeG3tMqe1wAEQ
DSYkmWIz7t5GMaAk9soZDOnY6bbuvZLx2i/Vjg5R0HEKammUOuOi7QtGb6pk1jTe
6dbx2kFXkqZtHQJ4qG9IQzHtHXhwo5HyOQiqSFyaj307atnqR18=
=fTrx
-----END PGP PUBLIC KEY BLOCK-----</pre>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footerwrap">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <address>
                                <strong>TxBits</strong><br>
                                <a href="#" class="hidden-email" data-name="contact" data-domain="txbits.com">(Turn on javascript to show email address)</a>
                            </address>
                        </div>
                        <div class="col-sm-6">
                            <p class="text-right">
                            Copyright &copy; 2014<br>
                            Powered by TxBits
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script id="big-tickers-template" type="text/x-handlebars-template">
        {{#each this}}
        <div class="col-sm-3 col-md-2">
            <dl class="dl-horizontal dl-small">
                <dt><i class="glyphicon glyphicon-{{icon}}" style="color: {{color}};"></i></dt><dd class="big-ticker-pair">{{base}}/{{counter}}</dd>
                <dt>Last:</dt> <dd class="money">{{last}}</dd>
                <dt>Low:</dt> <dd class="money">{{low}}</dd>
                <dt>High:</dt> <dd class="money">{{high}}</dd>
                <dt>Vol:</dt> <dd class="money">{{volume}}</dd>
            </dl>
        </div>
        {{/each}}
    </script>
}
