@(resetForm:Form[(String, String)], token: String)(implicit request: RequestHeader, messages: Messages)
@import helper._
@import securesocial.core.UsernamePasswordProvider
@implicitFieldConstructor = @{ FieldConstructor(auth.inputFieldConstructor.f(_)(messages)) }

@scripts = {
    <script src="@routes.Assets.at("js/password-form.js")"></script>
    <script src="@routes.Assets.at("js/vendor/zxcvbn-async.js")"></script>
    <script src="@routes.Assets.at("js/zxcvbn-indicator.js")"></script>
}

@auth._chrome( Messages("auth.password.title"), scripts) {

    @request.flash.get("error").map { msg =>
        <div class="alert alert-danger">
            @Messages(msg)
        </div>
    }

    <form action="@controllers.routes.Registration.handleResetPassword(token).absoluteURL(UsernamePasswordProvider.sslEnabled)"
          autocomplete="off"
          method="POST"
          class="password-form"
          data-password-length="@controllers.PasswordChange.passwordMinLen"
    >
        @CSRF.formField

        <p class="well well-sm">@Messages("text.password.advice")</p>

        @*TODO: make this prettier*@
        <p><b>@Messages("auth.password.crack_time"):</b> <span id="crack_time">...</span></p>

        @helper.inputPassword(
        resetForm("password.password1"),
        '_label -> Messages("auth.signup.password1"),
        'class -> "form-control"
        )

        @helper.inputPassword(
        resetForm("password.password2"),
        '_label -> Messages("auth.signup.password2"),
        '_error -> resetForm.error("password"),
        'class -> "form-control"
        )

        <button type="submit" class="btn btn-primary">@Messages("auth.password.reset")</button>
    </form>
}


