@(signUpForm:Form[controllers.Registration.RegistrationInfo], token: String)(implicit request: RequestHeader, lang: Lang)
@import securesocial.core.UsernamePasswordProvider
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(auth.inputFieldConstructor.f(_)(lang)) }

@scripts = {
    <script src="@routes.Assets.at("js/password-form.js")"></script>
    <script src="@routes.Assets.at("js/vendor/zxcvbn-async.js")"></script>
    <script src="@routes.Assets.at("js/zxcvbn-indicator.js")"></script>
}

@auth._chrome( Messages("auth.signup.title"), scripts ) {

    @request.flash.get("error").map { msg =>
        <div class="alert alert-danger">
            @Messages(msg)
        </div>
    }

    <form action="@controllers.routes.Registration.handleSignUp(token).absoluteURL(UsernamePasswordProvider.sslEnabled)"
          autocomplete= "off"
          method="POST"
          class="password-form"
          data-password-length="@securesocial.core.providers.utils.PasswordValidator.min_len"
    >
        @CSRF.formField

        <p class="well well-sm">@Messages("text.password.advice")</p>

        @*TODO: make this prettier*@
        <p>Crack time: <span id="crack_time">...</span></p>

        @helper.inputPassword(
            signUpForm("password.password1"),
            '_label -> Messages("auth.signup.password1"),
            'class -> "form-control"
        )

        @helper.inputPassword(
            signUpForm("password.password2"),
            '_label -> Messages("auth.signup.password2"),
            '_error -> signUpForm.error("password"),
            'class -> "form-control"
        )

        @textarea(
            signUpForm("pgp"),
            '_label -> Messages("auth.signup.pgp"),
            '_error -> signUpForm.error("pgp"),
            'class -> "form-control"
        )
        <p class="help-block">@Messages("pgp.purpose")</p>


        <div class="checkbox">
            <label>
                <input type="checkbox" value="true" name="mailinglist"> @Messages("auth.signup.mailinglist")
            </label>
        </div>

        <button type="submit" class="btn btn-primary">@Messages("auth.signup.createAccount")</button>
    </form>
}