@(user: securesocial.core.SocialUser)(implicit request: RequestHeader, messages: Messages)

@scripts = {
    <script src="@routes.Assets.at("js/pager.js")"></script>
    <script src="@routes.Assets.at("js/history.js")"></script>
}

@exchange._chrome(Messages("chrome.exchange.navigation.history.title"), "list", scripts) {

    <div class="row">
        <div class="box corner-all col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">@Messages("history.tradehistory.title")</div>
                <div id="trade-history">
                </div>
            </div>
        </div>

        <div class="box corner-all col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">@Messages("history.depositwithdrawhistory.title")</div>
                <div id="deposit-withdraw-history">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box corner-all col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">@Messages("history.login.title")</div>
                <div id="login-history">
                </div>
            </div>
        </div>
    </div>

    <script id="login-history-template" type="text/x-handlebars-template">
        <div class="tablescroller">
        <table class="table table-striped responsive">
            <thead>
                <tr>
                    <th>@Messages("terminology.time")</th>
                    <th>@Messages("terminology.log_type")</th>
                    <th>@Messages("terminology.ip")</th>
                </tr>
            </thead>
            <tbody>
                {{#each .}}
                    {{> login-history-row}}
                {{/each}}
            </tbody>
        </table>
        <div class="spinner" style="display:none"><i class="spin glyphicon glyphicon-refresh"></i></div>
        </div>
    </script>

    <script id="login-history-row-template" type="text/x-handlebars-template">
        <tr>
            <td>{{created}}</td>
            <td>{{typ}}</td>
            <td>{{ip}}</td>
        </tr>
    </script>

    <script id="trade-history-template" type="text/x-handlebars-template">
        <div class="tablescroller">
        <table class="table table-striped responsive">
            <thead>
                <tr>
                    <th>@Messages("terminology.time")</th>
                    <th>@Messages("terminology.market")</th>
                    <th>@Messages("terminology.type")</th>
                    <th class="money-heading">@Messages("terminology.amount")</th>
                    <th></th>
                    <th class="money-heading">@Messages("terminology.value")</th>
                    <th></th>
                    <th class="money-heading">@Messages("terminology.price")</th>
                    <th class="money-heading">@Messages("terminology.fee")</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each .}}
                    {{> trade-history-row}}
                {{/each}}
            </tbody>
        </table>
        <div class="spinner" style="display:none"><i class="spin glyphicon glyphicon-refresh"></i></div>
        </div>
    </script>


    <script id="trade-history-row-template" type="text/x-handlebars-template">
        <tr class="{{klass}}">
            <td>{{created}}</td>
            <td>{{base}}/{{counter}}</td>
            <td>{{order_type}}</td>
            <td class="money">{{amount}}</td>
            <td>{{base}}</td>
            <td class="money">{{value}}</td>
            <td>{{counter}}</td>
            <td class="money">{{price}}</td>
            <td class="money">{{fee}}</td>
            <td>{{fee_currency}}</td>
        </tr>
    </script>

    <script id="deposit-withdraw-history-template" type="text/x-handlebars-template">
        <div class="tablescroller">
        <table class="table table-striped responsive">
            <thead>
                <tr>
                    <th>@Messages("terminology.time")</th>
                    <th>@Messages("terminology.type")</th>
                    <th>@Messages("terminology.currency")</th>
                    <th class="money-heading">@Messages("terminology.amount")</th>
                    <th class="money-heading">@Messages("terminology.fee")</th>
                    <th>@Messages("terminology.address")</th>
                    <th>@Messages("terminology.note")</th>
                </tr>
            </thead>
            <tbody>
                {{#each .}}
                    {{> dw-history-row}}
                {{/each}}
            </tbody>
        </table>
        <div class="spinner" style="display:none"><i class="spin glyphicon glyphicon-refresh"></i></div>
        </div>
    </script>

    <script id="deposit-withdraw-history-row-template" type="text/x-handlebars-template">
        <tr class="{{klass}}">
            <td>{{created}}</td>
            <td>{{typ}}</td>
            <td>{{currency}}</td>
            <td class="money">{{amount}}</td>
            <td class="money">{{fee}}</td>
            <td>{{address}}</td>
            <td>{{note}}</td>
        </tr>
    </script>
}