@(user: securesocial.core.SocialUser)(implicit request: RequestHeader, messages: Messages)

@scripts = {
    <script src="@routes.Assets.at("js/vendor/flotr2.min.js")"></script>
    <script src="@routes.Assets.at("js/exchange.js")"></script>
}

@exchange._chrome(Messages("chrome.exchange.navigation.exchange.title"), "random", scripts) {

    <div class="row">
        <div class="box corner-all col-md-12">
            <div id="chart_div">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box corner-all col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">@Messages("exchange.pendingtrades.title")</div>
                <div id="pending-trades">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box corner-all col-md-12">
            <div id="pair-picker">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#bid" role="tab" data-toggle="tab">@Messages("terminology.bid")</a></li>
                <li><a href="#ask" role="tab" data-toggle="tab">@Messages("terminology.ask")</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="bid">
                </div>
                <div class="tab-pane" id="ask">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="graph">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4>@Messages("exchange.openasks.title")</h4>
            <div id="open-asks">
            </div>
        </div>
        <div class="col-md-6">
            <h4>@Messages("exchange.openbids.title")</h4>
            <div id="open-bids">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>@Messages("exchange.recenttrades.title")</h4>
            <div id="recent-trades">
            </div>
        </div>
    </div>

    <script id="bid-template" type="text/x-handlebars-template">
        <h4>{{counter}} &rarr; {{base}}</h4>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="balance" class="col-sm-4 control-label">@{Messages("terminology.balance")}</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control balance" name="balance" type="text" value={{balance}} disabled>
                        <span class="input-group-addon">{{counter}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="counter" class="col-sm-4 control-label">@{Messages("terminology.value")}</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control counter" name="counter" type="text" disabled>
                        <span class="input-group-addon">{{counter}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="price" class="col-sm-4 control-label">@{Messages("terminology.price")}</label>
                <div class="col-sm-8">
                    <input class="form-control price" name="price" type="text" value="{{price}}">
                </div>
            </div>
            <div class="form-group">
                <label for="amount" class="col-sm-4 control-label">@{Messages("terminology.amount")}</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control amount" name="amount" type="text">
                        <span class="input-group-addon">{{base}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="fee" class="col-sm-4 control-label">
                    @{Messages("terminology.fee")}
                    {{#if one_way}}*{{/if}}
                </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control fee" name="fee" type="text" disabled>
                        <span class="input-group-addon">{{base}}</span>
                    </div>
                </div>
            </div>
            <button type="submit" id="bid-submit" class="bid btn btn-success btn-block">@{Messages("terminology.bid")} {{base}}</button>
            {{#if one_way}}<p></p><p>* @{Messages("help.one_way")}</p>{{/if}}
        </form>
    </script>

    <script id="ask-template" type="text/x-handlebars-template">
        <h4>{{base}} &rarr; {{counter}}</h4>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="balance" class="col-sm-4 control-label">@{Messages("terminology.balance")}</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control balance" name="balance" type="text" value={{balance}} disabled>
                        <span class="input-group-addon">{{base}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="amount" class="col-sm-4 control-label">@{Messages("terminology.amount")}</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control amount" name="amount" type="text">
                        <span class="input-group-addon">{{base}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="price" class="col-sm-4 control-label">@{Messages("terminology.price")}</label>
                <div class="col-sm-8">
                    <input class="form-control price" name="price" type="text" value="{{price}}">
                </div>
            </div>
            <div class="form-group">
                <label for="counter" class="col-sm-4 control-label">@{Messages("terminology.value")}</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control counter" name="counter" type="text" disabled>
                        <span class="input-group-addon">{{counter}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="fee" class="col-sm-4 control-label">
                    @{Messages("terminology.fee")}
                    {{#if one_way}}*{{/if}}
                </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control fee" name="fee" type="text" disabled>
                        <span class="input-group-addon">{{counter}}</span>
                    </div>
                </div>
            </div>
            <button type="submit" id="ask-submit" class="ask btn btn-danger btn-block">@{Messages("terminology.ask")} {{base}}</button>
            {{#if one_way}}<p></p><p>* @{Messages("help.one_way")}</p>{{/if}}
        </form>
    </script>


    <script id="pair-picker-template" type="text/x-handlebars-template">
        <ul class="nav nav-pills">
            {{#each this}}
                <li {{#if @@index}}{{else}} class="active" {{/if}} ><a href="#" exchange-base="{{base}}" exchange-counter="{{counter}}">{{base}}/{{counter}}</a></li>
            {{/each}}
        </ul>
    </script>

    <script id="open-bids-template" type="text/x-handlebars-template">
        <h5>@{Messages("terminology.total")}: {{total_counter}} {{counter}}</h5>
        <div class="tablescroller">
            <table class="table table-condensed responsive tablescroller-head">
                <thead>
                    <tr>
                        <th class="money-heading">@{Messages("terminology.amount")} {{base}}</th>
                        <th class="money-heading">@{Messages("terminology.value")} {{counter}}</th>
                        <th class="money-heading">@Messages("terminology.price")</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr class="success">
                        <td class="money">{{amount}}</td>
                        <td class="money">{{value}}</td>
                        <td class="money">{{price}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </script>

    <script id="open-asks-template" type="text/x-handlebars-template">
        <h5>@{Messages("terminology.total")}: {{total_base}} {{base}}</h5>
        <div class="tablescroller">
            <table class="table table-condensed responsive tablescroller-head">
                <thead>
                    <tr>
                        <th class="money-heading">@{Messages("terminology.amount")} {{base}}</th>
                        <th class="money-heading">@{Messages("terminology.value")} {{counter}}</th>
                        <th class="money-heading">@Messages("terminology.price")</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr class="danger">
                        <td class="money">{{amount}}</td>
                        <td class="money">{{value}}</td>
                        <td class="money">{{price}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </script>

    <script id="recent-trades-template" type="text/x-handlebars-template">
        <div class="tablescroller">
            <table class="table table-striped table-condensed responsive tablescroller-head">
                <thead>
                    <tr>
                        <th>@Messages("terminology.time")</th>
                        <th>@Messages("terminology.type")</th>
                        <th class="money-heading">@{Messages("terminology.amount")} {{base}}</th>
                        <th class="money-heading">@{Messages("terminology.value")} {{counter}}</th>
                        <th class="money-heading">@Messages("terminology.price")</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr class="{{klass}}">
                        <td>{{created}}</td>
                        <td>{{order_type}}</td>
                        <td class="money">{{amount}}</td>
                        <td class="money">{{value}}</td>
                        <td class="money">{{price}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </script>

    <script id="pending-trades-template" type="text/x-handlebars-template">
        <div class="tablescroller">
            <table class="table table-striped table-condensed responsive tablescroller-head">
                <thead>
                    <tr>
                        <th>@Messages("terminology.time")</th>
                        <th>@Messages("terminology.market")</th>
                        <th>@Messages("terminology.type")</th>
                        <th class="money-heading">@Messages("terminology.amount")</th>
                        <th></th>
                        <th class="money-heading">@Messages("terminology.value")</th>
                        <th></th>
                        <th class="money-heading">@Messages("terminology.price")</th>
                        <th class="money-heading">@Messages("terminology.cancel")</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each .}}
                    <tr class="{{klass}}">
                        <td>{{created}}</td>
                        <td>{{base}}/{{counter}}</td>
                        <td>{{order_type}}</td>
                        <td class="money">{{amount}}</td>
                        <td>{{base}}</td>
                        <td class="money">{{value}}</td>
                        <td>{{counter}}</td>
                        <td class="money">{{price}}</td>
                        <td><a class="btn btn-primary btn-xs pull-right" exchange-trade-id="{{id}}">@Messages("terminology.cancel")</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </script>
}
