-- Revert [% project %]:[% change %] from [% engine %]


BEGIN;
SET ROLE __owner;

DROP FUNCTION IF EXISTS _test_[% function %]();
DROP FUNCTION [% function %](
);
COMMIT;

-- vi: expandtab ts=2 sw=2
