@(passwordChangeForm:Form[controllers.PasswordChange.ChangeInfo])(implicit request: RequestHeader, lang: Lang)
@import securesocial.core.UsernamePasswordProvider
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(auth.inputFieldConstructor.f(_)(lang)) }

@scripts = {
    <script src="@routes.Assets.at("js/vendor/zxcvbn-async.js")"></script>
    <script src="@routes.Assets.at("js/zxcvbn-indicator.js")"></script>
}

@auth._chrome( Messages("securesocial.passwordChange.title"),  scripts, Html(""), true ) {

    @request.flash.get("error").map { msg =>
        <div class="alert alert-danger">
            @msg
        </div>
    }

    @if( request.flash.get("success").isDefined ) {
        <div class="alert alert-info">
            @request.flash.get("success").get
        </div>

        <div class="form-actions">
            <a class="btn btn-default" href="@controllers.ProviderController.toUrl(request.session)">@Messages("securesocial.passwordChange.okButton")</a>
        </div>
    } else {
        <form action="@controllers.routes.PasswordChange.handlePasswordChange().absoluteURL(UsernamePasswordProvider.sslEnabled)"
              autocomplete= "off"
              method="POST"
        >
            @CSRF.formField

            @helper.inputPassword(
                passwordChangeForm("currentPassword"),
                '_label -> Messages("securesocial.passwordChange.currentPassword"),
                'class -> "form-control"
            )

            <p class="well well-sm">@Messages("text.password.advice")</p>

            @*TODO: make this prettier*@
            <p>Crack time: <span id="crack_time">...</span></p>

            @helper.inputPassword(
                passwordChangeForm("newPassword.password1"),
                '_label -> Messages("securesocial.passwordChange.newPassword1"),
                'class -> "form-control"
            )

            @helper.inputPassword(
                passwordChangeForm("newPassword.password2"),
                '_label -> Messages("securesocial.passwordChange.newPassword2"),
                '_error -> passwordChangeForm.error("newPassword"),
                'class -> "form-control"
            )

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">@Messages("securesocial.passwordChange.changeButton")</button>
            </div>
        </form>
     }
}