@(tfaForm: Form[String], errorMsg: Option[String] = None)(implicit request: RequestHeader, lang: Lang)
@import securesocial.core.UsernamePasswordProvider

@import helper._
@import securesocial.core.Registry
@import securesocial.core.AuthenticationMethod._


@implicitFieldConstructor = @{ FieldConstructor(auth.inputFieldConstructor.f(_)(lang)) }

@* This page is used only for the login system. Ajax actions will be protected differently.*@
@auth._chrome(Messages("securesocial.login.title")) {

    @errorMsg.map { msg =>
    <div class="alert alert-danger">
        @Messages(msg)
    </div>
    }

    @request.flash.get("success").map { msg =>
    <div class="alert alert-info">
        @msg
    </div>
    }

    @request.flash.get("error").map { msg =>
    <div class="alert alert-danger">
        @msg
    </div>
    }

    <div class="clearfix">
        <form action = "@routes.ProviderController.tfaPost.absoluteURL(securesocial.core.UsernamePasswordProvider.sslEnabled)"
              autocomplete="off" method="POST">

            @helper.inputText(
                tfaForm("token"),
                '_label -> Messages("terminology.code"),
                'class -> "input-xlarge"
            )

            <button type="submit" class="btn btn-primary">@Messages("tfa.submit.title")</button>
        </form>
    </div>
}